@model lab5.Models.Doctors
@{
    ViewData["Title"] = "Backend5";
}

<form method="post">
    <p>Name</p>
    <p><input asp-for="name" /></p>
    <span asp-validation-for="name" class="text-danger"></span>
    <p>Speciality</p>
    <p><input asp-for="speciality" /></p>
    <span asp-validation-for="speciality" class="text-danger"></span>


    <p><button type="submit">Save</button></p>
    <p><a asp-action="Doctor">Back to list</a></p>
</form>