@model lab5.Models.Patients
@{
    ViewData["Title"] = "Backend5";
}

<form method="post">
    <p><b>Name</b>     @Html.DisplayFor(model => model.name)</p>
    <p><b>Disease</b>   @Html.DisplayFor(model => model.disease)</p>

    <p><a asp-action="Edit" asp-route-id="@Model.id">Edit</a> | <a asp-action="Patient">Back to list</a></p>
</form>